.detailContainer{
    display: flex;
    max-width: 95%;
    margin:0 auto 1em auto;
    border:1px solid #eaeaea;
    border-radius:0.5em;
    background-color:#fff;
    color: #333;
}
.detailContainer_editable{
    justify-content: space-between;
}
.rank{
    margin:auto 0 auto 1em;
    flex-grow: 0.2;
}
.contentContainer{
    flex-grow: 3;
    margin:auto 0;
    padding:0.5em;
}
.contentContainer_editable{
    margin:auto 0;
}
.contentContainer_editable > .row:not(:nth-child(1)){
    margin-top:0.5em;
}
.commentContainer{
    flex-grow: 4;
    margin:auto 0
}
.commentContainer > .row{
    display: flex;
}
.commentContainer > .row> .item{
    padding:0.5em
}
.commentLabel{
    margin: auto 0;
}
.commentContainer > div{
    width:100%;
}
.commentContainer_editable{
    margin-right:1em;
    padding:0.5em;
}
.row{
    padding:0.1em 0;
}
.row_inputField{
    width:3em;
}
.item{
    display: inline-block;
    margin-left: 1em;
}
.commentLabel{
    vertical-align: text-top;
}
.comment{
    word-wrap: break-word;
    white-space: pre-wrap;
}
.buttonContainer{
    background-color: #252a34;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.5em;
    margin-right:0.3em;
}