.headerContainer{
    background-color: #252a34;
    color:#fff;
    display: flex;
    justify-content: space-between;
}

.leftContainer > div,
.rightContainer > div{
    padding:0.5em;
    margin: 0 0.5em;
}

.leftContainer{
    display: flex;
    align-items: center;
}
.leftContainer_siteName{
    color: #08d9d6;
    font-size: 1.3em;
    padding-top: 0.2em !important;
}
.leftContainer_loginUserName{

}

.rightContainer{
    display: flex;
    align-items: center;
}
.rightContainer_menuContainer{

}
.rightContainer_logout{
    margin-right:1em;
}
.rightContainer_logout:hover{
    color: #08d9d6;
    cursor:pointer;
}