.loginButtonContainer{
    background-color:#252a34;
    border-radius: 0.5em;
    box-shadow: 6px 6px 5px;
    padding:0.5em;
    width: 50%;
    height:7em;
    margin:10% auto 0 auto;
    display: flex;
    justify-content: center;
}

.loginButtonContainer > button{
    margin: 2em auto;
    width: 20em;
}